@font-face {
  font-family: AlmoniDlAAA;
  src: url("../../assets/fonts/AlmoniDLAAA.otf");
}

@font-face {
  font-family: AlmoniDlAAABold;
  src: url("../../assets/fonts/AlmoniDLAAA-Bold.otf");
}

@font-face {
  font-family: AlmoniDlAAABlack;
  src: url("../../assets/fonts/AlmoniDLAAA-Black.otf");
}

@font-face {
  font-family: OscarFm;
  src: url("../../assets/fonts/OscarFM-Regular.otf");
}
