.SocialSignup {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .icon {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: #fff;
  }
}
